/*lembrar de sempre resetar os estilos iniciais*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    padding-top: 50px;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 32rem;
}

.instagram-continue {
    padding-top: 100px;
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;/*deu uma girada no eixo*/
    width: 47%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
   
}

/*há duas childs na classe group, o 1 pega a primeira*/
.group:nth-child(1) {
    min-height: 19rem;
    border-bottom: none;
}

.group:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: none;
}

.instagram-logo {
    height: 3.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden; /*o que passar da div é escondido*/
    padding: 20px;
}

.profile-photo img {
    height: 8rem;
    border-radius: 50%; /*a imagem fica redondinha*/
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px 25px;/*aumentei a caixa*/
    border-radius: 4px;
}


.not-account {
    color: #0095f6 ;
}

.nao{
    padding: 0.5rem;
    align-items: center;
}
.link-blue {
    color: rgb(160, 160, 160);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
/*separei a div pela metade e coloquei um link. Depois, coloquei uma imagem de fundo nas metades*/
.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */

/*quando a tela tiver até 1024 pixels...*/
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}
/*se a tela for maior que 650 pixels...*/
/*tiro a imagem do celular e deixo só o continue*/
@media (max-width: 800px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}